<!--添加歌曲-->
<div class="edit-form col-md-6 col-md-offset-3">
    <form method='post' action='/newSong'>
        <div class="form-group">
            <label>歌曲名称</label>
            <input type="text" class="form-control" name='song' placeholder="歌曲名称">
        </div>
        <div class="form-group">
            <label>歌手名称</label>
            <input type="text" class="form-control" name='singer' placeholder="歌手名称">
        </div>
        <div class="form-group">
            <label>歌曲时长</label>
            <input type="text" class="form-control" name='duration' placeholder="歌曲时长">
        </div>
        <div class="edit-btns">
            <button type="submit" class="btn btn-primary">确定</button>
            <a type="button" class="btn btn-default" href='/'>取消</a>
        </div>
    </form>
</div>