<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>序号</th>
            <th>歌曲</th>
            <th>热度</th>
            <th>时长</th>
            <th>歌手</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody class='song-list'>
        <tr>
            <td>1</td>
            <td>只要为你活一天</td>
            <td>★★</td>
            <td>3:14</td>
            <td>黄英华</td>
            <td>
                <button type="button" class="btn btn-success btn-sm song-play">播放</button>
                <button type="button" class="btn btn-info btn-sm song-add">添加</button>
                <button type="button" class="btn btn-primary btn-sm song-edit">编辑</button>
                <button type="button" class="btn btn-warning btn-sm song-delete">删除</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--分页-->
<div class="col-sm-12 col-md-12 text-right">
    <div class="row">
        <ul id="Pagintor"></ul>
    </div>
</div>
<!--播放器-->
<div class='player'>
    <audio id='Audio' src="" controls autoplay></audio>
    <p>这里是歌词</p>
</div>